.columns{
    display: flex;
    flex-wrap: wrap;
}
.column{
    margin-right: 25px;
    
}

.card{
   
    margin: 20px 0 24px 0;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-img-top{
min-height: 350px;
max-height: 351px;
}
