<div >
  <input type="text" name="userName" [(ngModel)]="userName">
  <button (click)="getOneUser()"> search User</button>
  <div *ngIf=userList>
    <img src="{{userList.avatar_url}}" alt="">
    <p>{{userList.login}}</p>
  </div>
  <br>
</div>


<section class="section">
  <div class="container">
    <div class="columns is-multiline">

      <!-- loop over our users and give them each a card -->
      <div class="column is-4" *ngFor="let user of users">
        <div *ngIf='user' class="card">

            <img class="card-img-top" src="{{user.avatar_url}}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{user.login}}</h4>
              <p class="card-text">{{user.id}}</p>
            </div>
        </div>
      </div>

    </div>
  </div>
</section>